
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom right, #388cd5, #1ecad8);
    color: white;
}

.navbar {
    padding: 15px 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-top: 20px;
}

.navbar li {
    display: inline;
}
.navbar li img {
    display: flex;
    width:50px;
    height:auto;
    position: relative;
    bottom: 13px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight:500;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #99c0ff;
}

/* Main Content */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

/* Left Section */
.left-section {
    flex: 1;
    margin-bottom: 200px;
    margin-left: 150px;
}

.left-section h1 {
    font-size: 72px;
    font-weight:800;
    color: #f1faee;
    margin: auto;
}

.left-section p {
    font-size: 30px;
    color: #e8f6f3;
    font-weight: 500;
    margin-top:50px;
    margin-bottom:0px;
}

/* Right Section */
.right-section {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
}
button{
    margin-top: 50px;
    width: 25%;
    background-color: #ffffff22;
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.344);
    backdrop-filter: blur(10px);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    border: none;
}
button:hover{
    margin-top: 50px;
    width: 25%;
    background-color:rgb(0, 89, 255);
    color:rgb(255, 255, 255);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}
.checkbox{
    width:25px;
    height:25px;
}
.tabcheck{
    border-spacing: 15px;
    border-collapse: separate;
    text-align: center;
}
.tabcheck tr{
    
}
.submitbtn{
    border-radius: 5px;
        width: 100px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        border: none;
        transition: 0.4s;
        background-color:white;
    }
    .submitbtn:hover{
        border-radius: 5px;
        width: 100px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        border: none;
        transition: 0.4s;
        background-color:#388cd5;
        color:white;
    }
    .table{
        background-color: transparent;
    }